use Mix.Config

# Configure your database
config :community, Community.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "community_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
